<!DOCTYPE html>
<html>

<!head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/site.webmanifest">
    <title>
        Wallboard
    </title>

    
        
            
                    <link href='@Url.Content("~/css/app.44ab2c3f.min.css")'' rel="stylesheet">
        
    

    
        
        
                        <script defer src='@Url.Content("~/js/app.d6fc9ed1.js")'></script>
                        
                            
        
        
                        <script defer src='@Url.Content("~/js/runtime.945027e8.js")'></script>
                        
                            
        
        
                        <script defer src='@Url.Content("~/js/react-router.2448f0ca.js")'></script>
                        
                            
        
        
                        <script defer src='@Url.Content("~/js/react-dom.eccde1d2.js")'></script>
                        
                            
        
        
                        <script defer src='@Url.Content("~/js/popper.js.51f009c6.js")'></script>
                        
                            
        
        
                        <script defer src='@Url.Content("~/js/jquery.286b6412.js")'></script>
                        
                            
        
        
                        <script defer src='@Url.Content("~/js/history.ad9c54eb.js")'></script>
                        
                            
        
        
                        <script defer src='@Url.Content("~/js/bootstrap.df89c2bc.js")'></script>
                        
                            
        
        
                        <script defer src='@Url.Content("~/js/vendors.373ca994.js")'></script>
                        
                            

</!head>

<body>
    <div class="body-content">
        @RenderBody()
    </div>
</body>

</html>